<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow p-4" style="min-width: 400px;">
    <h3 class="mb-4 text-center">Set your new password</h3>

    <%= form_with model: resource, as: resource_name, url: password_path(resource_name), method: :put, local: true do |f| %>
      <%= f.hidden_field :reset_password_token, value: params[:reset_password_token] %>

      <div class="mb-3">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, class: "form-control", value: resource.email || params[:email] %>
      </div>

      <div class="mb-3">
        <%= f.label :password, class: "form-label" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, class: "form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="d-grid gap-2 mb-3">
        <%= f.submit "Update password", class: "btn btn-primary" %>
      </div>
    <% end %>

    <div class="text-center mt-3">
      <%= link_to "Back to login", new_session_path(resource_name), class: "link-secondary" %>
    </div>
  </div>
</div>